html {
  scroll-padding-top: 70px; 
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: lavender;
  font-family: monospace;
  font-size: 1.2em;
}

.container {
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: inherit;
}


/******* NAVIGATION BAR ********/

.navbar {
  overflow: hidden;
  background-color: lavender;
  position: fixed;
  width: 100%;

  top: 0;
  left:0;
  z-index: 1000;
  padding-bottom: 10px;
}

.navbarText {
  width: 100%;
  padding: 1rem 0 0.5rem 0 ;
  justify-content: space-between;
  display: flex;
  max-width: 1500px;
  margin: 0 auto;
}

.navbarLinks a {
  color: black;
  text-decoration: none;
  border: 2px solid transparent;
  padding: 0.2rem 0.2rem;
}

.navbarLinks a:hover {
  border: 2px solid black;
}

.navbarTitle:hover {
  text-decoration: none;
}

.navbarTitle {
  font-weight: bold;
  margin: 0 0 0 2.5%;
  text-decoration: none;
  color: black;
  font-family: 'Courier New', Courier, monospace;
}

.navbarLinks {
  margin: 0 2.5% 0 0;
}

.navbar .hamburgerIcon {
  display: none;
}

.navbar #navbarLinks {
  display: none;
}

#lineHamburgerMenu {
  display: none;
}

hr {
  background-color: black;
  height: 2px;
  border-width: 0px;
  width: 95%;
  margin: 0 auto;
  max-width: 1500px;
}

/******* HEADER CONTENT ********/

#headerBackground{
  background-color: #333333;
  margin: 0;
  margin-top: calc(41px + 2.9rem);
}

header {
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
  color: lavender;
  display: flex;
}

img.profileImage {
  margin: -30px 0 0 0;
  max-width: 300px;
  object-fit: contain;
}

.headerText {
  vertical-align: top;
  margin: 20px auto 0 20px;
  width: auto;
}

h1 {
  font-size: 2em;
  margin: 0;
  color: lavender;
  font-family: 'Courier New', Courier, monospace;
}

header hr {
  width: 100%;
}

@media (max-width: 700px) {
  
  /* Hide the links inside the navigation menu (except for logo/home) */
  .navbar .navbarLinks {
    display: none;
  }

  .navbar #navbarLinks {
    max-height: 0;
    display: block;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }

  .navbar #navbarLinks a{
    text-decoration: none;
    display: block;
    color: black;
    margin: 0.5rem 0 0.5rem 2.5%;
  }

  /* Style the hamburger menu */
  .navbar .hamburgerIcon {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    margin: 1.25% 2.5% 0 0;
  }

  .hamburgerIcon div{
    width: 30px;
    height: 4px;
    background-color: black;
    margin: 6px auto;
  }

  #lineHamburgerMenu {
    display: none;
    background-color: black;
    height: 2px;
    border-width: 0px;
    width: 95%;
    margin: 0 auto;
    max-width: 1500px;
  }

  
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .headerText {
    width: 100%;
    margin: 0;
    text-align: center;
  }

  address {
    text-align: center;
    margin-bottom: 0.5rem;
  }

}


/******* SECTIONS CONTENT ********/

section {
  width: 90%;
  max-width: 800px;
  height: auto;
  margin: 50px auto 50px auto;
  color: black;
}

#bio p {
  text-align: justify;
}

/******* ABSTRACTS ********/

.collapsible {
	cursor: pointer;
  margin-top: 0.5rem;
}

.collapsible::before{
  content: url(images/caret-down-fill.svg); 
  width: 1rem;
  vertical-align: bottom;

}

.collapsible.active::before{
  content: url(images/caret-up-fill.svg); 
  width: 1rem;
  vertical-align: bottom;
}

.abstract {
  padding: 0 18px;
  background-color: #333333;
  color: lavender;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out;
}


/******* ARTICLES ********/
.publicationTitle {
  margin: 1rem 0 0 0;
}

.publicationAuthors {
  margin: 0.2rem 0;
}

.publicationournal {
  margin: 0;
}

figure {
  margin: 0;
  padding: 20px 0;
  width: 100%;
}

.articleImage iframe {
  width: 100%;
  height: 50vh;
  border: none;
}

.articleImage img {
  height: 50vh;
  border: none;
}

.articleLink {
  font-style: italic;
}

/************ CONTACT ME FORM ************/


input, label, textarea{
  display: block;
  margin-bottom: 5px;  
}

textarea, input{
  background-color: #333333;
  color: white;
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 10px;
  border: 2px solid lavender;
  width: calc(100% - 22px);
}

input:focus, textarea:focus{
  border: 2px solid white;
  outline: 2px solid black;
}

#submit {
  padding: 10px;
  background-color: #333333;
  color: white;
  border: 2px solid lavender;
  border-radius: 5px;
}

#submit:hover {
  background-color: black;
  border: 2px solid white;
}



/************ FOOTER ************/

footer {
  width: 100%;
  background-color: #333333;
  color: lavender;
  text-align: center;
  margin: 0;
  padding: 1rem 0;
  font-size: 0.8rem;
}